<div class="container-fluid">

<h2>

<p>
        <div class='row'>
        <% console.log(filearr.length+"console from ejs");%>
        
        <% for(var i=1;i<=filearr.length;i++) {%>
            
            <div class='col-md-4'>
                <img src=<%=filearr[i]%> class='embed-responsive' alt = <%=filearr[i]%> style="width:450px;height:350px"/>
               
            </div>
                
                <%}%>

        </div>
    </p>
</h2>
</div>