<h1><%=country%></h1>
<h2>

<p>
        
        <% console.log(filearr.length+"console from ejs");%>
        
        <% for(var i=1;i<=filearr.length;i++) {%>
            <ul>
            <li>
                <img src=<%=filearr[i]%>    ></img>
               
            </li>
            </ul>
                
                <%}%>
    </p>
</h2>