<h1>
<ul class='list-inline'>
            <li><a href='/' class='btn btn-info' role='button'>Home</a></li>
            <ul>
<div class='jumbotron'>
<dl>
<dt><%=country%></dt>
<dl><div class='well'><blockquote><%=headline%></blockquote></div></dl>
</div>
</h1>